* {
    box-sizing: border-box;
}

/* Body */
html,
body {
    font-size: 16px;
    line-height: 1.5;
    min-width: 400px;
}
/*  */

/* Containers */
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row::after {
    clear: both;
    content: "";
    display: table;
}

.c-4 {
    width: 360px;
    margin-left: 30px;
    float: left;
}

.c-4:last-child {
    margin-right: 0px;
}

.c-4-footer {
    text-align: center;
}
/*  */

/* Header */
.header {
    background: #7B68EE;
    background-image: url("../img/bg/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 300px;

    color: #FFF;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h_title {
    font-size: 60px;
    margin-bottom: 30px;
    font-family: 'PT Sans', sans-serif;
    margin-top: -55px;
}

.h_slogan {
    font-size: 30px;
    line-height: 15px;
    margin-bottom: 30px;
    font-family: 'PT Sans', sans-serif;
}

.h_arrow {
    font-size: 40px;
    width: 50px;
    margin-left: -30px;
    position: absolute;
    bottom: 50px;
    left: 50%;
}

/* Navigation */
nav {
    margin: auto;
    width: 100%;
    text-align: center;
}

.topnav {
    background-color: #fff;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.topnav a {
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    border-bottom: 3px solid #000;
}

.topnav .icon {
    display: none;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {
        display: none;
        text-align: left;}


.topnav a.icon {
    float: right;
    margin-top: -7px;
    display: block;
    color: #000;
}
nav {
    width: 100%;
    height: 50px;
}

}
/*  */

/* Info */
.pf {
    /* padding-top: 70px; */
    padding-bottom: 100px;
}

.pf-item {
    margin-bottom: 20px;
}

.title {
    font-size: 46px;
    margin-bottom: 50px;
    text-align: center;
}

.pf-item_img {
    max-width: 100%;
    width: 1000px;
    height: auto;
    margin-bottom: 20px;
}

.pf-item_title {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 5px;
    text-align: center;
}

.pf-item_txt {
    text-align: center;
}

.pf-item_title a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #FFF;
}

.pf-item_title a:hover {
    color: #0052c2;
    border-color: rgba(0, 82, 194, 0.4);
}

.pf-item_txt p {
    margin-top: 0;
    margin-bottom: 15px;
}
/*  */

/* Single */
/* .pf_sp {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.pf_sp img {
    margin-bottom: 50px;
    max-width: 90%;
    height: auto;
} */
/*  */

/* Button */
/* .button_back {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    display: inline-block;

    border-width: 3px;
    border-color: #000;
    border-style: solid;
    border-radius: 45px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 25px;
    padding-right: 25px;
    color: #000;
}

.button_back:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
} */
/*  */

/* Footer */
div.c-4 p {
    text-align: center;
}

.footer {
    background-color: rgba(85, 107, 47, 0.7);
    color: black;
    padding-top: 80px;
    padding-bottom: 65px;
}

.footer p {
    margin-top: 0px;
    margin-bottom: 15px;
}

p.ft_name {
    font-size: 26px;
    line-height: normal;
    margin-bottom: 10px;
    text-align: center;
}

p.ft_soc {
    font-size: 24px;
    color: #000;
    text-align: center;
}

p.ft_soc_icons {
    color: #fff;
    font-size: 30px;
    text-align: center;
}

p.ft_soc_icons a {
    color: #000;
    text-decoration: none;
    padding: 10px;
}

p.ft_soc_icons a:hover {
    color: #fff;
}
/*  */

/* .button {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    display: inline-block;
    border-width: 3px;
    border-color: #000;
    border-style: solid;
    border-radius: 45px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 25px;
    padding-right: 25px;
    color: #000;
}

.button:hover {
    color: rgba(85, 107, 47, 0.7);
    background-color: #fff;
    border-color: #fff;
} */

/* Adaptaion */
@media (max-width:1200px) {
    
    .container {
        width: 100%;
    }

    .c-4 {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .h_title {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 14px;
    }

    .h_slogan {
        font-size: 20px;
        line-height: 30px;
    }

    .pf {
        padding-bottom: 30px;
        padding-top: 25px;
    }

    .title {
        font-size: 30px;
    }

    .footer {
        padding-top: 50px;
        padding-bottom: 40px;
    }

}
/*  */

/* Image */
.img {
    display: inline-block;
}

img.animate {
    opacity: 0.25;
    transition: all 1s ease-in-out;
}

img.animate:hover {
    opacity: 1;
}
/*  */

/* Link */
a {
    transition: 0.5s ease-out;
}
/*  */